* {
    margin: 0;
    padding: 0;
}

.row1 {
   
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column1 {
    flex: 2;
    padding: 10px;
    padding-left: 30px;
}


@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
}