*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8ecae6;
    color: #023047;
}

.media {
    display: flex;
    justify-content: center;
    padding: 10px;
}


h1 {
    text-align: center;
    background-color: lightgray;
    border-radius: 30px;
    padding: 15px;
    font-family: calibri, sans-serif;
    margin: 10px 10px 0px 10px;
    border: 2px solid;
}

h2 {
    background-color: lightgray;
    border: 1px solid;
    border-radius: 10px;
    width: 230px;
    text-align: center;
}

h4 {
    background-color: lightgray;
    border: 1px solid;
    border-radius: 10px;
    width: 230px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container1 {
    display: none;
}

/*Creación de web flex*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

/*Creación de botón*/
.boton {
    border: 2px dotted darkblue;
    background-color: lightgrey;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    margin: auto;
    width: 120px;
}

.boton:hover {
    background-color: darkblue;
    color: blanchedalmond;
    border: 2px solid grey;
}

/*Creación de barra de formulario con validación*/
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.formulario_label {
    display: block;
    font-weight: 700px;
    padding: 10px;
    font-style: bold;
    cursor: pointer;
}

.formulario_input {
    width: 100%;
    background: #ffffff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
}

.formulario_input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_grupo-input {
    position: relative;
}

.section-formulario {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario_grupo-btn-enviar {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.formulario_btn {
    border: 2px solid darkblue;
    background-color: lightgrey;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    margin: auto;
    width: 120px;
    color: black;
    font-weight: bold;
    justify-content: center;
    font-weight: bold;
    transition: 0.1s ease all;
}

.formulario_btn:hover {
    box-shadow: 3px 0px 30px black;
    background-color: darkblue;
    color: lightgray;
}

.form-envio {
    margin-left: 100%;
}

/*Creación de barra de navegación responsive*/
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.brand {
    display: flex;
    align-items: center;
}


li>a {
    padding: 8px 24px;
}


li {
    list-style-type: none;
}


a {
    color: white;
    text-decoration: none;
}


.nav-links {
    display: flex;
    align-items: center;
}


.button-menu-toggle {
    display: none;
}

/* Estilos Footer con ChatGPT */
footer {
    background: linear-gradient(to right, #000080, #8A2BE2);
    padding: 20px;
    color: black;
    text-align: center;
}

/* Estilo del texto en el footer */
footer p {
    font-size: 24px;
    color: #ffffff;
}

/* Estilo del botón en el footer */
footer .boton {
    background: linear-gradient(to right, #336699, #234f76);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:auto;
}

/* Cambiar el estilo del cursor al pasar el mouse sobre el botón */
footer .boton:hover {
    background: linear-gradient(to right, #234f76, #336699);
    font-size: 18px;
width:auto;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.redes-sociales a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: yellow;
}

.redes-sociales i {
    transition: transform 0.3s ease;
}

.redes-sociales a:hover i {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario_grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario_btn {
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .nav-links.nav-links-responsive {
        z-index: 1;
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }

    .formulario_grupo-input {
        position: relative;
        width: 80%;
    }

    .form-envio {
        margin-left: 40%;
    }

    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .img-container {
        display: none;
    }

    .img-container1 {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
    }

    .formulario_input {
        z-index: 0;
        width: 100%;
        background: #ffffff;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: 0.3s ease all;
    }

    .formulario_input:focus {
        border: 3px solid #0075FF;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
    }
}