body {
    background-color: aqua;
}

@media (max-width: 600px) {
    body {
        background-color: blueviolet;
    }
}

@media (max-width: 400px) {
    body {
        background-color: brown;
    }
}